@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  font-size: 16px;
  /* Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

p {
  color: var(--Cool-gray);
  /* font-weight: bold; */
  font-size: 1em;
}

.small-text {
  font-size: 0.9rem;
}

.smaller-text {
  font-size: 0.7em;
}

h2 {
  font-size: 1em;
  color: var(--Marine-blue);
}

#root {
  max-width: 1280px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.step-selectors-container {
  padding: 2rem;
  background-image: url('./assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.step-selectors {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  height: 7rem;
  gap: 1rem;
  margin: 0 auto;
}

.step-number {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  transition: 0.5s;
}

.step-number:hover,
.step-number-active {
  background-color: var(--Light-blue);
  border: 2px var(--Light-blue);
  color: var(--Marine-blue);
}

.step-selectors .step-selector-text {
  display: none;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-container {
  background-color: var(--Magnolia);
  min-height: 450px;
}

.next-prev-btns-container {
  width: 90%;
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--Cool-gray);
  /* font-weight: 500; */
  background: var(--White);
  font-size: 1em;
}

.btn:hover {
  color: var(--Marine-blue);
}

.next-btn {
  background-color: var(--Marine-blue);
  color: var(--Light-gray);
}

.next-btn:hover {
  color: var(--White);
  background-color: var(--Purplish-blue);
}

.step {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  transform: translateY(-5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 350px;
  border-radius: 0.5rem;
  background-color: var(--White);
  box-shadow: 6px 12px 11px 1px rgba(0, 0, 0, 0.103);
}

.step-info h1 {
  font-size: 1.6em;
  margin-bottom: 1rem;
  font-weight: 700;
}

.step-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.form-group input {
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid var(--Light-gray);
}

.form-group input:hover {
  border-color: var(--Pastel-blue);
}

.form-group input::placeholder {
  font-size: 1rem;
}

.form-group label {
  color: var(--Marine-blue);
  font-weight: bold;
  font-size: 0.9em;
}

.form-group .error {
  border:1px solid var(--Strawberry-red);
}

.form-group .validated {
  position: absolute;
  background-color: rgb(85, 248, 85);
  width: 1rem;
  height: 1rem;
  display: grid;
  place-content: center;
  right: 0;
  border-radius: 50%;
}

.form-group .error-message {
  position: absolute;
  right: 0;
  color: var(--Strawberry-red);
}


.plan {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--Light-gray);
  border-radius: 0.5rem;
  align-items: start;
}

.plan-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.discount {
  font-weight: 600;
  color: var(--Marine-blue);
}

.month-year {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: var(--Light-gray);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.month-year-toggler {
  width: 3rem;
  height: 1.5rem;
  padding: 0 0.2rem;
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.month-year-indicator {
  width: 1rem;
  height: 1rem;
  background-color: var(--White);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sub-duration-yearly {
  transform: translateX(1.6rem);
}

.yearly-plan-active,
.monthly-plan-active {
  color: var(--Marine-blue);
}

.add-on {
  display: flex;
  align-items: center;
  border: 2px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  position: relative;
}

.add-on-active,
.plan-active {
  background-color: var(--Magnolia);
}

.pseudo-checkbox {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--Cool-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark-active {
  background-color: blue;
}

.add-on-text {
  display: flex;
  flex-direction: column;
  gap: 0.06rem;
}

.add-on-amount {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
  font-weight: 600;
  text-align: right;
  color: var(--Purplish-blue);
}

.add-on h2 {
  width: fit-content;
}

.add-on-description {
  width: fit-content;
}

.step-four-form {
  padding: 1rem;
  background-color: var(--Magnolia);
}

.selected-plan {
  display: flex;
  justify-content: space-between;

  border-radius: 0.5rem;
}

.selected-addons {
  border-top: 2px solid var(--Light-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.selected-addon {
  display: flex;
  justify-content: space-between;
}

.selected-addon p:nth-child(2) {
  color: var(--Marine-blue);
}

.total-amount {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}


