@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  font-size: 16px;
  /* Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Alabaster);
}

p {
  color: var(--Cool-gray);
  line-height: 1.6;
  font-size: 1em;
}

.small-text {
  font-size: 0.9rem;
}

.smaller-text {
  font-size: 0.7em;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  color: var(--Marine-blue);
}

h2 {
  font-size: 1em;
  color: var(--Marine-blue);
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.step-selectors-container {
  padding: 2rem;
  background-image: url('./assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.step-selectors {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  height: 7rem;
  gap: 1rem;
  margin: 0 auto;
}

.step-number {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  transition: 0.5s;
}

.step-number:hover,
.step-number-active {
  background-color: var(--Light-blue);
  border: 2px var(--Light-blue);
  color: var(--Marine-blue);
}

.step-selectors .step-selector-text {
  display: none;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-container {
  background-color: var(--Magnolia);
  min-height: 450px;
}

.large-screen-step-buttons {
  display: none;
}

.next-prev-btns-container {
  width: 90%;
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0 3rem 0;
}

.next-prev-btns-container .no-btn {
  display: none;
}

.btn {
  padding: 0.7rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
  color: var(--Cool-gray);
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

.btn.btn-comfirm {
  background-color: var(--Purplish-blue);
}

.btn:hover {
  color: var(--Marine-blue);
}

.next-btn {
  background-color: var(--Marine-blue);
  color: var(--Light-gray);
}

.next-btn:hover {
  color: var(--White);
  background-color: var(--Purplish-blue);
}

.error-alert {
  position: fixed;
  width: 90%;
  max-width: 450px;
  background-color: var(--Marine-blue);
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  z-index: 1;
  border-radius: 0.5rem;
}

.error-alert p {
  color: white;
  text-align: center;
}

@keyframes errorTimer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.error-alert-timer {
  animation: errorTimer 5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 0.2rem;
  background-color: var(--Strawberry-red);
  border-radius: 0.5rem;
}

.step {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  transform: translateY(-5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 350px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 12px 15px 1px rgba(0, 0, 0, 0.089);
}

.step-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.form-group input {
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: 2px solid var(--Light-gray);
}

.form-group input:hover {
  border-color: var(--Pastel-blue);
}

.form-group input::placeholder {
  font-size: 1rem;
}

.form-group label {
  color: var(--Marine-blue);
  font-weight: 550;
  font-size: 0.85em;
}

.form-group .error {
  border: 1px solid var(--Strawberry-red);
}

.form-group .validated {
  position: absolute;
  background-color: rgb(55, 218, 55);
  width: 1rem;
  height: 1rem;
  display: grid;
  place-content: center;
  right: 0;
  border-radius: 50%;
}

.form-group .error-message {
  position: absolute;
  right: 0rem;
  color: var(--Strawberry-red);
}

.plan {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--Light-gray);
  border-radius: 0.5rem;
  align-items: start;
  cursor: pointer;
}

.plan-icon {
  width: 2.3rem;
}

.plan-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.discount {
  font-weight: 600;
  color: var(--Marine-blue);
}

.month-year {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: var(--Alabaster);
  border-radius: 0.5rem;
  padding: 0.8rem 0;
}

.month-year-toggler {
  width: 2.3rem;
  height: 1.2rem;
  padding: 0 0.2rem;
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.month-year-indicator {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--White);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sub-duration-yearly {
  transform: translateX(1.1rem);
}

.yearly-plan-active,
.monthly-plan-active {
  color: var(--Marine-blue);
}

.add-on {
  display: flex;
  align-items: center;
  border: 2px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

.add-on-active,
.plan-active {
  background-color: var(--Alabaster);
  border: 2px solid var(--Purplish-blue);
}

.pseudo-checkbox {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--Cool-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark-active {
  background-color: blue;
}

.add-on-text {
  display: flex;
  flex-direction: column;
  gap: 0.06rem;
}

.add-on-amount {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
  font-weight: 600;
  text-align: right;
  color: var(--Purplish-blue);
}

.add-on h2 {
  width: fit-content;
}

.add-on-description {
  width: fit-content;
}

.step-four-form {
  padding: 1rem;
  background-color: var(--Alabaster);
}

.selected-plan {
  display: flex;
  justify-content: space-between;

  border-radius: 0.5rem;
}

.selected-addons {
  border-top: 2px solid var(--Light-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.selected-addon {
  display: flex;
  justify-content: space-between;
}

.selected-addon p:nth-child(2) {
  color: var(--Marine-blue);
}

.total-amount {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.total-amount-figure {
  color: var(--Purplish-blue);
  font-weight: bold;
}

.step-five {
  text-align: center;
  padding: 5rem 1.2rem;
}
.confirmation-icon {
  margin: auto;
}

.thank-you-icon {
  display: block;
  width: 3.2rem;
  margin: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  body {
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Magnolia);
  }

  .app {
    max-width: 650px;
    height: 900px;
    padding: 1rem;
    border-radius: 2rem;
    margin: auto;
    background-color: var(--White);
    box-shadow: 0px 12px 15px 1px rgba(0, 0, 0, 0.089);
  }

  .step-selectors-container {
    border-radius: 1rem;
  }

  .step-selectors {
    max-width: 550px;
    padding: 0 2rem;
    justify-content: space-between;
  }

  .step-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .step-selector .step-selector-text {
    display: block;
  }

  .step-selector-text .step-number-text {
    color: var(--Light-gray);
  }

  .step-selector-text .step-title {
    color: var(--White);
  }

  .step-container {
    background: var(--White);
    padding: 0;
    position: relative;
  }

  .step {
    max-width: 550px;
    height: 700px;
    transform: translateY(0);
    box-shadow: none;
    background-color: var(--White);
    margin: auto;
    padding: 2rem 2rem 0;
  }

  .mobile-step-buttons {
    display: none;
  }

  .large-screen-step-buttons {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    margin: auto;
    padding: 0 2rem;
    left: 0;
    display: block;
  }

  .next-prev-btns-container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 0 0rem;
  }

  .form-group {
    gap: 1rem;
  }

  .form-group input {
    padding: 1rem;
  }

  .step-five {
    padding: 5rem 4rem;
    align-items: center;
  }
  .confirmation-icon {
    margin: 0 auto;
  }

  .step-five p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .app {
    flex-direction: row;
    align-items: baseline;
    max-height: 600px;
    max-width: 950px;
  }

  .step-selectors-container {
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    min-height: 500px;
    height: 100%;
    max-width: 300px;
  }

  .step-selectors {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }

  .step-selector {
    flex-direction: row;
  }

  .steps-container {
    width: 100%;
    margin: auto;
    padding: 2rem 0 0;
    height: 100%;
    position: relative;
    max-width: 600px;
  }

  .next-prev-btns-container {
    max-width: 600px;
    bottom: 2rem;
  }

  .step {
    max-width: 600px;
    height: 550px;
  }

  .step-two-form {
    flex-direction: row;
  }

  .plan {
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
    padding: 1.5rem 1rem;
  }

  .add-on {
    padding: 1.4rem 1rem;
  }
}
